@component('app', { title: 'Home' })
  @slot('meta')
    <meta name="description" content="A welcome page made with EdgeJS">
  @endslot

  @slot('main')
    <h1>Hello world</h1>
  @endslot
@endcomponent
