@component('app', { title: 'Prendre un rendez-vous' })
  @slot('meta')
    <meta name="description" content="A welcome page made with EdgeJS">
  @endslot

  @slot('main')
    <h1>Prise de rendez-vous</h1>
  @endslot
@endcomponent
